{% extends "flights/layout.html"%}

{% block body%}
    <h1> Flights</h1>
        <ul>
            {% for flight in flights %}
                
                <li>
                <!-- the flight route requires an argument and we give him flight.id as an argument-->
                <a href ="{% url 'flight' flight.id %}">
                    Flight {{flight.id}} : {{flight.origin}} to {{flight.destination}}
                </a>
                </li>

            {% endfor %}
        </ul> 
{% endblock %}